user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    server_tokens {{ nginx_server_tokens | ternary('on', 'off') }};  
    keepalive_timeout {{ nginx_keepalive_timeout }}s;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    {% if nginx_default_site_enabled %}
    server {
        listen {{ nginx_port_http }};
        server_name _;

        root /var/www/html;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }
    {% endif %}

    # Include virtual hosts
    include {{ nginx_sites_enabled_dir }}/*.conf;
}